.about-body p {
    text-align: justify;
    margin: 10px 0;
}

.about-body h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
    margin: 20px;
    text-transform: none;
}