/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Fonts */

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/open-sans/open-sans-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/open-sans/open-sans-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/open-sans/open-sans-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/open-sans/open-sans-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/open-sans/open-sans-800.woff2') format('woff2');
}

:root {
    --notlanders: #0072ce;
    --background: #eae5e2;
    --surface: #c5ae9f;
    --text-dark: #38220f;
    --border: #38220f;

    --link: #634832;
    --link-hover: #38220f;

    --primary: #A77F60;
    --secondary: #8A5F41;
    --text-light:#6B5A4B;
}

/* Elements */

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
    color: var(--text-dark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

nav {
    text-transform: uppercase;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
}

footer {
    text-align: center
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    /* text-transform: uppercase; */
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.4;
}

ul {
    font-size: 1.1rem;
    line-height: 1.4;
    list-style: inside;
    padding-left: 1rem;
}

b {
    font-weight: 600;
}

a {
    transition: opacity 0.2s;
    color: inherit;

    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

/* unvisited link */
a:link {
}

 /* visited link */
a:visited {
}

 /* mouse over link */
 a:hover {
     opacity: 0.7;
 }

 a:active {
     text-decoration: none;
 }

/* Classes */

.container {
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    padding: 1.5rem;
}

.title-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--surface);
    color: var(--text-dark);
    border-radius: 12px;
    border: 2px solid var(--border);
    padding: 1.5rem;
}

.project-container {
    display: flex;
    margin: 20px 0;
    gap: 1rem;
}

.project-image {
    flex: 1;
    border: 2px solid var(--border);
    border-radius: 8px;
}

.project-image img,
.project-image video {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-image video {
    object-fit: cover;
}

.project-image source {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-image-bottom-strip {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    padding: 12px 16px;
    color: var(--text-dark);

    background-color: var(--surface);
    padding: 16px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quick-info {
    display: flex;
    align-items: center; 
    gap: 0.2rem;
}

.quick-info span {
    font-size: 0.8rem;
}

.quick-info svg {
    width: 1.1rem;
    height: 1.1rem;
    fill: var(--text-dark);
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    align-items: flex-start;
    gap: 1rem;
    text-align: justify;
}

.project-info h3 {
    align-self: center;
    text-align: center;
}

.project-button {
    background-color: var(--surface);
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--border);
}

a.project-button {
    text-decoration: none;
}

#notlanders-link {
    text-decoration: none;
    color: var(--notlanders);
}

#notlanders-link:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Ids */

#about-photo {
    flex: 0 0 196px;
    width: 196px;
    height: 196px;
    object-fit: cover;
    border-radius: 50%;
}

#about-text {
    flex: 1;
    text-align: justify;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about-text p {
    line-height: 1.25;
}

@media (max-width: 700px) {
    header {
        font-size: 1.25rem;
    }

    nav {
        gap: 0.75rem;
        font-size: 0.9rem;
    }

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .container {
        padding: 1rem;
    }

    .project-container {
        flex-direction: column;
    }

    #about-photo {
        width: 150px;
        height: 150px;
        flex-basis: 150px;
    }

    #about-text {
        text-align: left;
        font-size: 1.05rem;
    }
}